# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

.cache
custom.el
history
projects
tramp

.agent-shell/
auto-save-list/
eca/
elpa/
eshell/
games/
transient/
url/

